 *{
    margin: 0;
    padding: 0;
}
html,body{
    width: 100%;
    height: 100%;
}
ul li{
    list-style: none;
}
a{
    text-decoration: none;
    color: rgb(121, 77, 77);
}
i{
  font-style: normal;
}

header{
    width: 100%;
    height: 78px;
    background-color: #181718;
    position: relative;
    .min{
        width: 1230px;
        height: 100%;
        margin: 0 auto;
        .user{
            width: 150px;
            height: 30px;
            float: right;
            font-size: 14px;
          margin:35px 30px 0 0;
                position: relative;
                p{
                    color: #e9852d;
                }
            .btn{
                &:hover{
                    opacity: 0.6;
                }
               position: absolute;
               right: -50px;
               top: -5px;
                border: none;
                background-color: transparent;
                outline: none;  
                color: white;
            }
        }

    .deng{
      color: white;
      font-size: 16px;
      float: right;
      margin-right: 20px;
      margin-top: 25px;
    }
    img{
        float: left;
        margin:13px 0 0 0;
    }
    .list{
        color: white;
        font-size: 18px;
        float: left;
        margin-left: 25px;
        margin-bottom: 0;
        li{
            float: left;
            width: 140px;
            margin-top: 20px;
            text-align: center;
            .p1{
                font-size: 11px;
                color: #cccccc;
            }
            p{
                margin: 0;
            }     
        }  
    }
} 
}
.yinMin{
    width: 100%;
    height: 230px;
    position: absolute;
    left: 0px;
    top: 78px;
//   z-index: 2;   
    .bao{ 
        width: 100%;
        height: 100%;
        position: relative;
        .gekai{
           position: absolute;
           left: 335px;
            ul{
                width: 140px;;
                float: left;
    
                li{
                    text-align: center;
                    margin-top: 8px;
                    &:hover{
                        a{
                            color: #e9852d ;
                        }
                    }
                    a{
                        color: white;
                    }
                }
            }
        }
               
    }
    }
   
.yin{
    width: 100%;    
    height: 230px;
    position: absolute;
    left: 0px;
    top: 78px;
    // z-index: 1;
    background-color: #181718;
    opacity: 0.4; 
// display: none;
}
.tu{
   width: 100%;
   position: relative;
   .glass{
    width: 160px;
    height: 40px;
    border: 1px solid  #B78F35;
    background-color: #11132E;
    opacity: 0.7;
    position: absolute;
    left: 45%;
    top: 82%;
    p{
        text-align: center;
       line-height: 40px;
       a{
        text-decoration: none;
        color:#B78F35;
       }
    }
}
    img{
     width: 100%;
    }
}
section{
    width: 100%;
    height: 340px;
    
    .banner{
        width: 1230px;
        height: 340px;
        margin: 0 auto;
        position: relative;
        margin-top: 50px;
        .swiper-container {
            width: 725px;
            height: 340px;
            .swiper-slide {
                background-size: cover;
                background-position: center;
              }   
          }
          .gallery-top {
            width: 725px;;
            height: 340px;
            position: absolute;
            left: 0;
        }
          .gallery-thumbs {
            height: 20%;
            box-sizing: border-box;
            position: absolute;
            left: 0;
            top: 340px;
            .swiper-slide {
                width: 20%;
                height:50px;
                opacity: 0.6;
                text-align: center;
                background-color: #E3E2E2;
                line-height: 50px;
                margin: 0;
              }
              .swiper-slide-thumb-active {
                opacity: 1;
                color: #CEA861;
                border-bottom: 2px solid #CEA861;
              }
          }
        .new{
            width: 500px;
            height: 380px;
            float: right;
          .title{
               display: flex;
               flex-direction: row;
               justify-content: space-between;
               li{
                   width: 50px;
                font-size: 18px;
                text-align: center;
                a{
                    border-bottom: 2px solid transparent;
                    padding: 5px;
                    text-decoration: none;
                    color: #676767;
                }
               }
          }

          .content{
            position: relative;
            width: 100%;
            height: 100%;
             .active{
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background-color: white;
                z-index: 1;
            //   display:none;
                h3{
                    width: 220px;
                    margin: 20px auto;
                    color:#1da6ba ;
                }
                p:nth-child(n):hover{
                          a{
                            color: #e9852d;
                          }         
                }
                  p{
                      margin: 20px 0;
                      height: 20px;
                      font-size: 14px;
                      span{
                          display: inline-block;
                          width: 30px;
                          height: 20px;
                          margin: 0 20px;
                          text-align: center;
                          font-size: 12px;
                           border: 1px solid #e9852d;
                           color: #e9852d;
                      }
                      i{
                          float: right;
                          color:#9d9d9d;
                      }
                      a{
                        text-decoration: none;
                        color:black;
                      }
                  }
              }
            .gong{
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
            //    display: block;
               background-color: white;
                h3{
                    width: 100%;
                    margin: 20px auto;
                    color:#1da6ba ;
                    text-align: center;
                }
                p:nth-child(n):hover{
                          a{
                            color: #e9852d;
                          }         
                }
                  p{
                      margin: 20px 0;
                      height: 20px;
                      font-size: 14px;
                      span{
                          display: inline-block;
                          width: 30px;
                          height: 20px;
                          margin: 0 20px;
                          text-align: center;
                          font-size: 12px;
                           border: 1px solid #e9852d;
                           color: #e9852d;
                      }
                      i{
                          float: right;
                          color:#9d9d9d;
                      }
                      a{
                        text-decoration: none;
                        color:black;
                      }
                  }
            }
          }
        }
        
    }
   
}
.main{
    width: 100%;
    height: 850px;
    background-color:#EEEEEE ;
    .hero{
        width: 1230px;
        height: 100%;
        margin:100px auto;
        padding:66px 0;
        .heroClass{
           height: 40px;
            li:first-child{
                border-left: 4px solid #1da6ba;
                padding-left: 10px;
                height: 30px;
                font-size: 24px;
            }   
             .back{
                span{
                    border-color:  #1da6ba;
                }
               .small{
                  background-color: #1da6ba;
               }
             }
            li{
                height: 37px;
                line-height: 37px;
                float: left;
                margin-right: 40px;
                padding-bottom: 28px;
                cursor: pointer;
                color: #676767;
                font-size: 16px;
                letter-spacing: 1px;
                text-align: center;
                padding-left: 28px;
                span{
                    display:inline-block;
                    width: 16px;
                    height: 16px;
                    border: 1px solid black;
                    margin-right: 10px;
                    border-radius: 50%;
                    position: relative;
                .small{
                    display:inline-block;
                    width: 8px;
                    height: 8px;
                    border: 1px solid transparent;
                    border-radius: 50%;
                    position: absolute;
                    left: 22%;
                    top: 21%;
                }
                }
            }
            
        }
    }
.ulList{
    width: 100%;
    height: 700px;
 overflow: auto;
    li{ 
        float: left;
        width: 90px;
        height:100px;
        .remove{
            display: none;
        }
        .all{
            display: block;
        }
        // .fighter{
        //     display: block;
        // }
        // .mage{
        //     display: block;
        // }
        // .assassin{
        //     display: block;
        // }
        // .tank{
        //     display: block;
        // }
        // .marksman{
        //     display: block;
        // }
        // .support{
        //     display: block;
        // }
        img{
            width: 66px;
            height: 66px;
        }
        p{
            font-size: 12px;
            width: 66px;
            text-align: center;
        }
    }
}
}

footer{
    width: 100%;
    height: 265px;
    background-color: #e3e2e2;
    .footerMin{
        width: 1230px;
        margin: 0 auto;
        font-size: 12px;
        color: #9f9378;
    .left{
        float: left;
       
    }
    .right{
        float: right;
        margin-top: 50px;
        a{
            color: #9f9378;
        }
    }
    }
}

